<div class="main-container">
    <header>
        <h1>AVL Backend</h1>
    </header>
    <nav>
        {{#if logout}}
            <ul>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        {{else}}
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/signup">Sign up</a>
                </li>
            </ul>
        {{/if}}
    </nav>
</div>