<div>
    {{> header }}
</div>
<div id="simple_dashboard">
    <h1>Welcome to Dashboard</h1>
    <div id="profile">Loading your data ...</div>
    <div class="reset-container">
        <a href="/reset">Reset Password</a>
    </div>
</div>