<div>
    {{> header }}
</div>
<div id="verifyNotice_container">
    <div class="verify-notice-info">
        <strong>Welcome to AVL - Backend Project</strong>
        <small>Please login or signup</small>
    </div>
</div>