<div>
    {{> header }}
</div>
<div id="verifyNotice_container"  loginId="{{loginId}}">
    <div class="verify-notice-info">
        <span>Verify your email</span>
        <span>Verification link has been sent to your email</span>
        <div>
            <button type="button" id="send_email">Resend Email</button>
        </div>
        <div class="message" id="message"></div>
    </div>
</div>